.out {
    border-radius: 8px;
    margin-left: 185px;
}


@media (max-width: 994px) {
    .out{
        margin-left: 0;
    }

    .navbar-brand{
        margin-left: 0;   
    }
}


.searchbutton {
    text-indent: 25px;
    border: none;
} 
.searchbutton:focus {
    text-indent: 0px; 
} 

.searchbutton::placeholder {
    background-image: url(assets/search-solid.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 16px; 
}

.searchbutton:focus::placeholder{
    background-image: none;
}

.nav-link {
    margin-left: 9px;
}

.listicon {
    margin-left:25px ;

}

.storyprofile {
    font-size: 12px;
    margin: 0px;
    padding:0px 2px;
    max-width: 74px;
    max-height: 16px;
}

.postundericon {
    padding:8px;
}

.sharelink {
    text-decoration: none;
    color: lightblue;
}

.sidetext {
    font-size: 14px;
}

.suggestionph {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.sidelink {
    color:dodgerblue; font-size: 12px; text-decoration: none;
    font-weight: bold;
}

.sidelink:hover {
    color:dodgerblue;
}


.sidebottomlink {
    color: #c7c7c7;
    font-size: 12px;
    text-decoration: none;  
}

.sidebottomlink:hover {
    text-decoration: underline;
    color:#c7c7c7;
}

.sidebottom {
    color: #c7c7c7;
    font-size: 12px;
    text-decoration: none;  
}





@media (min-width:576px) { 
    /* xs'dan büyük iken */
    .card {
        width: 497px;
    }   
}

@media (max-width:576px) { 
    /* xs */
    .card {
        width: 100%;
        
    }

    .card.cstory {
        width:100vw;
       
        
    }  
    .stories {
        padding-left: 0px !important;
        padding-right: 0px !important;
       
        width: 100vw;
    } 
    
    button {
        
        width:16vw;
    }

    
    
}

@media (max-width:300px) { 
    
    .fifth {
        display: none;
    }
    button {
        
        margin-left: 10px !important;
    }

    .pp {
        display: none !important;
    }
    .navbar-brand {
        padding: 0 !important;
        margin: 0 !important;
    } 
}

@media (min-width:301px) and (max-width:371px)  { 
    .pp {
        display: none !important;
    } 
    
}

.sidelinks li:not(:last-child) .sidebottomlink::after {
    content: '\00B7';
    margin: 0 .25em 0 .25em;
}

.textlinks {
    text-decoration: none;
    color:black;
}

.textlinks:hover {
    text-decoration: none;
    color:black;
}

.underpostlink {
    color:black;
}

.underpostlink:hover {
    color:black;
    opacity: 0.5;
}














